body {
    margin: 0;
    overflow: hidden; /* Prevents horizontal scrolling */
    height: 100vh; /* Set body height to 100% of the viewport height */
    display: flex; /* Use flexbox */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

iframe {
    width: 128%; /* Increase size by 15% */
    height: 102vh;
    max-width: 1920px;
    max-height: 1080px;
    display: block; /* Remove any default inline styles */
}

/* Apply rotation to iframe for mobile devices */
@media only screen and (max-width: 768px) {
    iframe {
        width: 100vh; /* Set width to the viewport height */
        height: 128vw; /* Set height to the viewport width */
        max-width: 100%; /* Set maximum width */
        max-height: none; /* Remove maximum height */
        margin-top: calc((100vh - 100vw) / 2); /* Calculate top margin to center */
        margin-left: auto; /* Set left margin to auto to center */
        margin-right: auto; /* Set right margin to auto to center */
        transform: rotate(90deg); /* Rotate the iframe 90 degrees clockwise */
    }
}
